body{
    background-color: rgb(70, 156, 70);
}
header{
    background-color: rgb(186, 188, 190);
}
h1{
    background-color:rgb(186, 188, 190)
}
#agro{
    width: 600px;
}
#agro2{
    width: 200px;
}
