body{
    background-color: rgb(251, 253, 251);
}
header{
    background-color: rgb(94, 187, 130);
}
h1{
    background-color:rgb(94, 187, 130)
}
#agro{
    width: 600px;
}
#agro2{
    width: 200px;
}
